@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

    /* colors */
    --white: 0, 0%, 100%;
    --grey: 207, 38%, 94%;
    --dark-grey: 250, 5%, 45%;
    --cadet-grey: 205, 16%, 63%;
    --black: 0, 0%, 0%;
    
    --light-blue: 209, 48%, 47%;
    --dark-blue: 239, 35%, 24%;
    --dark-blue-2: 238, 23%, 34%;
    --green: 145, 52%, 39%;
    --green-2: 110, 77%, 90%;
    --yellow: 50, 90%, 57%;
    --red: 356, 70%, 51%;

    /* font-size */
    --size-normal: 25px;

    /* font-family */
    --roboto: 'Roboto', sans-serif;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

*{
    font-family: var(--roboto);
    font-size: var(--size-normal);
}

.btn {
    border: 0;
    background-color: transparent;
}



/* .todo-app ------------------------------------------------------------------ */

.todo-app {
    min-height: 100vh;
    background-color: hsl(var(--white));
    display: grid;
    grid-template-rows: 1fr 80vh 1fr;
    align-items: center;
    justify-items: center;
    transition: .3s;
}

/* header ------------------------------------------------------------------ */

header {
    padding-block: 2rem;
    border-bottom: 1px solid hsl(var(--grey), .8);
}

header form, .todo-list {
    width: min(100vw - 2rem, 25rem);
}

header form .add-task > * {
    border: 0;
    background-color: hsl(var(--grey));
    color: hsl(var(--dark-grey));
}

header form .add-task {
    display: flex;
    align-items: center;
    background-color: hsl(var(--grey));
    border-radius: 100px;
}

header form .add-task input {
    padding: 10px 20px;
    border-radius: 100px;
    width: 100%;
}

header form .add-task button {
    background-color: hsl(var(--light-blue));
    color: hsl(var(--white));
    border-radius: 50%;
    margin-inline-end: 5px;
    padding: 10px;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* to do list & to do item ------------------------------------------------------------------ */

.todo-list {
    align-self: start;
}

.todo-list h2, .todo-list .todo-item {
    color: hsl(var(--dark-grey));
}

.todo-list h2 {
    margin-block: 1rem;
}

.todo-item {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    border: 1px solid hsl(var(--grey));
    border-radius: .5rem;
    padding: 1rem;
    margin-block-end: 1rem;

    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.todo-item .todo {
    margin-inline-start: .5rem;
}

.todo-item .btn-delete {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.todo-item .btn-delete svg {
    stroke: hsl(var(--red));
    width: 100%;
    height: 100%;
}

.todo-app .todo-item input {
    appearance: none;
    background-color: hsl(var(--white));
    border: 1px solid hsl(var(--grey));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: .3s;
}
.todo-app .todo-item input:hover {
    cursor: pointer;
}
.todo-app .todo-item input:checked {
    background-color: hsl(var(--green-2));
    border-color: transparent;
}
.todo-app .todo-item input:checked::after {
    content: '\2714';
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--green));
}

.todo-list .completed {
    border: 0;
}

.todo-list .completed .todo {
    color: hsl(var(--dark-grey), .6);
    text-decoration: line-through;
}



/* footer ------------------------------------------------------------------ */
.toggle-theme button svg {
    stroke: hsl(var(--cadet-grey));
}



/* Dark-mode ------------------------------------------------------------------ */

    /* header ------------------------------------------------------------------ */
.dark-mode {
    background-color: hsl(var(--dark-blue), .95);
}

.dark-mode header {
    border-bottom: 1px solid hsl(var(--grey), .1);
}

.dark-mode header form .add-task input,
.dark-mode header form .add-task
{
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--white));
}

.dark-mode header form .add-task input::placeholder,
.dark-mode .todo-list h2,
.dark-mode .todo-list .todo-item
{
    color: hsl(var(--white));
}

    /* to do list & to do item ------------------------------------------------------------------ */
.dark-mode .todo-item {
    background-color: hsl(var(--dark-blue-2));
    border-color: transparent;
}

.dark-mode .todo-list .completed .todo {
    color: hsl(var(--white), .3);
}

    /* footer ------------------------------------------------------------------ */
.dark-mode .toggle-theme button svg {
    stroke: hsl(var(--yellow));
}